.email-authentication {
    width: 100%;
}

.email-authentication__container {
    width: calc(100% - (3.5rem * 2));
    margin: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(5rem, 5rem + (100vw - 390px) * 0.1, 10rem);
    padding-top: clamp(5rem, 5rem + (100vw - 390px) * 0.1, 10rem);
}

.email-authentication__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1.2rem, 1.2rem + (100vw - 390px) * 0.03, 2.4rem);
    text-align: center;
}

.email-authentication__description {
    font-size: clamp(1.2rem, 1.2rem + (100vw - 390px) * 0.03, 2.4rem);
    line-height: 130%;
    color: var(--color-gray-400);
}

.email-authentication__description strong {
    font-weight: bold;
}
.email-authentication__form {
    width: 100%;
    max-width: 73.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(3rem, 3rem + (100vw - 390px) * 0.03, 6rem);
}

.email-authentication__input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-authentication__input-group input[type='email']::placeholder {
    color: var(--color-gray-300);
    background-color: transparent;
}

.email-authentication__input-group label::after {
    display: none;
}

.email-authentication__submit-container {
    width: 100%;
    max-width: 73.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
