.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 73.6rem;
    padding: 0 3.5rem;
    margin-top: 5rem;
}

.login__submit-button {
    margin-top: 3rem;
}

.login__link-group {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: var(--color-gray-400);
}

.login__link-group a:not(:last-child)::after {
    content: '|';
    margin: 0 1rem;
    display: inline-block;
    transform: translateY(-0.1rem);
}

@media (min-width: 1024px) {
    .login {
        margin-top: 10rem;
    }
    
    .login__form {
        margin-top: 10rem;
        padding: 0 0;
    }
    
    .login__submit-button {
        margin-top: 6rem;
        font-size: 2.6rem;
    }
    
    .login__link-group {
        margin-top: 2rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.8rem;
        color: var(--color-gray-400);
    }
}
