.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    width: 100%;

    form {
        width: 100%;
        max-width: clamp(32rem, 32rem + (100vw - 390px) * 1, 73.6rem);

        display: flex;
        flex-direction: column;
        align-items: center;

        .password1 label:after,
        .password2 label:after {
            display: none;
        }

        .password1 {
            margin-top: 5rem;
        }
        .password2 {
            margin-top: 1.6rem;
        }

        .password1,
        .password2 {
            width: 100%;
        }

        span {
            align-self: flex-start;
            margin-top: 1rem;
            font-weight: 400;
            font-size: clamp(1.2rem, 1.2rem + (100vw - 390px) * 0.01, 1.8rem);
            color: var(--color-red);
        }

        button {
            margin-top: clamp(3rem, 3rem + (100vw - 390px) * 0.05, 6rem);
        }
    }
}
