.input-wrapper {
    width: 32rem;
}

label {
    display: block;
    font-size: 1.2em;
    line-height: 1.2rem;
    color: var(--color-gray);
}
.input-group {
    display: flex;
    gap: 1rem;
    margin-top: 1.4rem;
}

input {
    flex: 1;
    border: none;
    border-bottom: 0.1rem solid var(--color-gray-300);
    padding-bottom: 0.8rem;
    font-size: 1.4rem;
}

input::placeholder {
    line-height: 1.4rem;
    color: var(--color-gray-300);
}
.input-wrapper:not(:first-child) {
    margin-top: 1.6rem;
}

@media (min-width: 1024px) {
    .input-wrapper {
        width: 73.6rem;
    }

    label {
        display: block;
        font-size: 1.8em;
        line-height: 1.8rem;
        color: var(--color-gray);
    }
    .input-group {
        display: flex;
        gap: 1rem;
        margin-top: 1.4rem;
    }

    input {
        flex: 1;
        border: none;
        border-bottom: 0.1rem solid var(--color-gray-300);
        padding-bottom: 0.8rem;
        font-size: 2.2rem;
        line-height: 2.2rem;
    }

    .input-wrapper:not(:first-child) {
        margin-top: 3.2rem;
    }
}
