.button {
    cursor: pointer;
}

.primary {
    background: var(--color-green);
    color: var(--color-white);
}
.secondary {
    background: var(--color-gray-300);
    color: var(--color-white);
}
.outline {
    border: 0.1rem solid var(--color-green);
    color: var(--color-green);
}

.small {
    width: 8.7rem;
    height: 3.6rem;
    border-radius: 50rem;

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
}
.medium {
    width: 32rem;
    height: 4.4rem;
    border-radius: 50rem;
}
.large {
    width: 35.8rem;
    height: 4.4rem;
    border-radius: 50rem;

    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.2rem;
}

@media (min-width: 1024px) {
    .small {
        width: 14.9rem;
        height: 6.2rem;
        border-radius: 80rem;
    }
    .medium {
        width: 73.6rem;
        height: 7.2rem;
        border-radius: 80rem;
    }
}
