.recipe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe__category {
    width: 100%;

    .recipe__category-border {
        width: 100%;
        border-bottom: 1px solid var(--color-gray-300);

        display: flex;
        justify-content: center;
    }

    ul {
        max-width: 73.6rem;
        width: 100%;
        text-align: center;

        display: flex;
        justify-content: center;
        li {
            flex: 1;
            padding: 1.6rem 0;
        }
    }
}
.recipe__categoryBtn-active {
    border-bottom: 0.3rem solid var(--color-green);
}

.recipe__category-button {
    font-weight: 700;
    font-size: clamp(1.4rem, 1.4rem + (100vw - 390px) * 0.013, 2.2rem);
    line-height: clamp(1.6rem, 1.6rem + (100vw - 390px) * 0.013, 2.2rem);
    color: var(--color-gray);
}
.recipe__search {
    width: 100%;
}

.recipe__button-box {
    margin-top: clamp(3rem, 3rem + (100vw - 390px) * 0.05, 6rem);
    /* width: clamp(35.8rem, 35.8rem + (100vw - 390px), 73.6rem); */
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recipe__order {
    display: flex;
    gap: 0.5rem;
}
.recipe__orderBtn,
.recipe__orderBtn-active {
    border: 1px solid var(--color-gray-200);
    border-radius: clamp(0.7rem, 0.7rem + (100vw - 390px) * 0.05, 1.1rem);
    background-color: var(--color-gray-100);
    padding: 0.5rem;
    white-space: nowrap;
}
.recipe__orderBtn button,
.recipe__orderBtn-active button {
    color: var(--color-gray-400);
    font-size: clamp(1.4rem, 1.4rem + (100vw - 390px) * 0.013, 2.2rem);
}
.recipe__orderBtn-active {
    border: 0.1rem solid var(--color-green);
    background-color: var(--color-green-100);
}
.recipe__orderBtn-active button {
    color: var(--color-green);
}
.recipe__write-btn {
    border: 1px solid var(--color-green);
    border-radius: clamp(0.7rem, 0.7rem + (100vw - 390px) * 0.01, 1.1rem);
    background-color: var(--color-green);
    padding: clamp(0.4rem, 0.4rem + (100vw - 390px) * 0.01, 0.7rem) clamp(1rem, 1rem + (100vw - 390px) * 0.01, 1.5rem);
    color: var(--color-white);
    font-weight: 400;
    font-size: clamp(1.4rem, 1.4rem + (100vw - 390px) * 0.013, 2.2rem);
    white-space: nowrap;
}
.recipe__write-btn:before {
    content: '';
    display: inline-block;
    width: clamp(1.4rem, 1.4rem + (100vw - 390px) * 0.013, 2.2rem);
    height: clamp(1.4rem, 1.4rem + (100vw - 390px) * 0.013, 2.2rem);
    vertical-align: middle;
    transform: translateY(calc(clamp(0.1rem, 0.1rem + (100vw - 390px) * 0.1, 0.3rem) * -1));
    margin-right: clamp(0.4rem, 0.4rem + (100vw - 390px) * 0.01, 0.6rem);
    background-color: var(--color-white);
    mask: url('../../assets/chat_icon.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}

.recipe__contents-box {
    width: 100%;
    max-width: 73.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.6rem;
}
.recipe__list-box {
    /* width: clamp(35.8rem, 35.8rem + (100vw - 390px), 73.6rem); */
    width: 100%;
}
.recipe__results {
    width: 100%;
}
.recipe__noneresults {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.recipe__loading {
    height: 22rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 1024px) {
    .recipe__order {
        display: flex;
        gap: 0.8rem;
    }
    .sharePage__noneresults {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    .recipe__loading {
        height: 45rem;
    }
}
