.share {
    max-width: 73.6rem;
    margin: 4rem auto 0;
}
.shareTitle {
    font-weight: 700;
    font-size: 2rem;
}
.shareList {
    margin-top: 1.4rem;
}
.noPosts {
    text-align: center;
    padding: 2rem;
    color: #6b7280;
    font-size: 2rem;
}
.viewMoreButton {
    margin-top: 2rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #68b43f;
    border-radius: 50rem;
    font-weight: 700;
    padding: 1.4rem 1rem;
    font-size: 1.4rem;
}

@media screen and (min-width: 640px) {
    .share {
        margin-top: 6rem;
    }
    .shareTitle {
        font-size: 2.6rem;
    }
    .shareList {
        margin-top: 2.2rem;
    }
    .noPosts {
        font-size: 2.6rem;
    }
    .viewMoreButton {
        margin-top: 4rem;
        padding: 1.8rem 1.3rem;
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .share {
        margin-top: 8rem;
    }
    .shareTitle {
        font-size: 3.2rem;
    }
    .shareList {
        margin-top: 2.9rem;
    }
    .noPosts {
        font-size: 3.2rem;
    }
    .viewMoreButton {
        margin-top: 6rem;
        padding: 2.2rem 1.6rem;
        font-size: 2.6rem;
    }
}
