.home {
    margin: 0 1.6rem;
}
.recommendationLink {
    width: 100%;
    height: 100%;
}
.recommendationImages {
    margin: auto;
    margin-top: 2rem;
    max-width: 128rem;
    width: 100%;
    aspect-ratio: 357.73 / 127;
    background-image: url('../../assets/recommendationSite-M.png');
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (min-width: 768px) {
    .recommendationImages {
        margin-top: 2.5rem;
        background-image: url('../../assets/recommendationSite-T.png');
        aspect-ratio: 736 / 203;
    }
}

@media screen and (min-width: 1024px) {
    .home {
        padding-top: 2rem;
    }
    .recommendationImages {
        margin-top: 3rem;
        background-image: url('../../assets/recommendationSite-T.png');
        aspect-ratio: 736 / 203;
    }
}
