/* 공통 */
.floating-buttons {
    position: fixed;
    right: 16px;
    bottom: 80px;
    z-index: 1000;
}

/* 폰트컨트롤 버튼 */
.floating-buttons__font-controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.floating-buttons__font-btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--color-gray-700);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    cursor: pointer;
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.floating-buttons__font-btn--increase {
    background-image: url('../../assets/plus_icon.svg');
    border-radius: 50% 50% 0 0;
}

.floating-buttons__font-btn--decrease {
    background-image: url('../../assets/minus_icon.svg');
    border-radius: 0 0 50% 50%;
}

.floating-buttons__top-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-gray-400);
    background-image: url('../../assets/topBtn_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    cursor: pointer;
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
    .floating-buttons {
        right: 40px;
        bottom: 40px;
    }

    .floating-buttons__font-controls {
        margin-bottom: 20px;
    }

    .floating-buttons__font-btn {
        width: 80px;
        height: 80px;
        background-size: 38px;
        box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .floating-buttons__top-btn {
        width: 80px;
        height: 80px;
        background-size: 38px;
        box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.25);
    }
}
