.password-verification {
    width: 100%;
}

.password-verification__container {
    width: calc(100% - (3.5rem * 2));
    margin: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(5rem, 5rem + (100vw - 390px) * 0.1, 10rem);
    padding-top: clamp(5rem, 5rem + (100vw - 390px) * 0.1, 10rem);
}

/* 로고헤더 */
.password-verification__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1.2rem, 1.2rem + (100vw - 390px) * 0.03, 2.4rem);
    text-align: center;
}

.password-verification__description {
    font-size: clamp(1.2rem, 1.2rem + (100vw - 390px) * 0.03, 2.4rem);
    line-height: 130%;
    color: var(--color-gray-400);
}

.password-verification__description strong {
    font-weight: bold;
}
/* 로그인폼 */
.password-verification__form {
    width: 100%;
    max-width: 73.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(3rem, 3rem + (100vw - 390px) * 0.03, 6rem);
}

/* input 입력창 */
.password-verification__input-group {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-verification__input-group input[type='email'] {
    color: var(--color-gray-300);
    background-color: transparent;
}

.password-verification__input-group label::after {
    display: none;
}

/* message */
.password-verification__error-wrap {
    width: 100%;
    text-align: left;
    margin-top: clamp(1rem, 1rem + (100vw - 390px) * 0.03, 2rem);
}
.password-verification__error {
    font-size: clamp(1.2rem, 1.2rem + (100vw - 390px) * 0.03, 1.8rem);
    color: var(--color-red);
}
/* button */
.password-verification__submit-container {
    width: 100%;
    max-width: 73.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
