.validation-text--hidden {
    display: none;
}
.validation-text--warn {
    display: block;
    font-weight: 400;
    font-size: clamp(1.2rem, 1.2rem + (100vw - 390px) * 0.01, 1.8rem);
    line-height: 1.2rem;
    color: var(--color-red);
    margin-top: clamp(1rem, 1rem + (100vw - 390px) * 0.01, 2rem);
}
.validation-text {
    display: block;
    font-weight: 400;
    font-size: clamp(1.2rem, 1.2rem + (100vw - 390px) * 0.01, 1.8rem);
    line-height: 1.2rem;
    color: var(--color-green);
    margin-top: clamp(1rem, 1rem + (100vw - 390px) * 0.01, 2rem);
}

@media (min-width: 1024px) {
    .validation-text--warn {
        /* font-size: 2.2rem; */
        line-height: 2.2rem;
        color: var(--color-red);
        /* margin-top: 2rem; */
    }
    .validation-text {
        /* font-size: 2.2rem; */
        line-height: 2.2rem;
        color: var(--color-green);
        /* margin-top: 2rem; */
    }
}
