.searchPage {
    width: 100%;
}
.searchPage__inputWrapper {
    max-width: 73.6rem;
    margin: 0 1.6rem;
}
.searchPage__resultsTitle {
    margin-top: 1rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    color: #767676;
}
.searchPage__resultsTitle strong {
    font-weight: 700;
}
.searchPage__filter {
    max-width: 73.6rem;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 0.1rem solid #c5c5c5;
}
.searchPage__filterOption {
    width: 33.3%;
    padding: 1.6rem 1.4rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: #999999;
}
.searchPage__filterOption_active {
    color: #68b43f;
    border-bottom: 0.3rem solid #68b43f;
}
.searchPage__results {
    max-width: 73.6rem;
    margin: 0 1.6rem;
    margin-top: 3rem;
}
.searchPage__noResults {
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    color: #999999;
}
@media (min-width: 768px) {
    .searchPage__inputWrapper {
        margin: 0 auto;
    }
    .searchPage__results {
        margin: 0 auto;
    }
}
