.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-gray);
    margin-bottom: 10rem;
    margin-top: 6rem;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1.6rem;
}

.footer__links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__bar {
    display: inline-block;
    width: 0.1rem;
    height: 1.2rem;
    background-color: var(--color-gray-200);
}

.footer__copyright {
    width: 100%;
}

.footer__github-section {
    /* github-section 스타일이 필요하다면 여기에 추가 */
}

.footer__github__button {
    display: inline-block;
    width: 12.7rem;
    height: 3.6rem;
    background-color: var(--color-black);
    padding: 1rem 0;
    border-radius: 10rem;
    color: var(--color-white);
    background: url('../../assets/gitbut_btn_mobile.png') no-repeat center / cover;
}

@media (min-width: 1024px) {
    .footer {
        font-size: 1.8rem;
        margin-bottom: 8rem;
        margin-top: 10rem;
    }

    .footer__container {
        flex-direction: row;
        margin-bottom: 3.2rem;
        gap: 3.2rem;
    }

    .footer__links {
        width: auto;
    }

    .footer__copyright {
        width: auto;
    }

    .footer__github__button {
        width: 21.2rem;
        height: 6.2rem;
        background: url('../../assets/gitbut_btn_tablet.png') no-repeat center / cover;
    }
}
