.comments {
    margin-top: clamp(3rem, 3rem + (100vw - 390px) * 0.05, 6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(0rem, 1.6rem - (100vw - 390px) * 0.03, 1.6rem);
}

.comments__list-box {
    margin-top: clamp(3rem, 3rem + (100vw - 390px) * 0.02, 4rem);
    display: flex;
    justify-content: center;
    padding: 0 clamp(1rem, 1rem + (100vw - 390px) * 0.01, 1.5rem);

    .comments__list {
        width: 100%;
        margin-bottom: 1.4rem;
    }
}

.comments__list-item {
    padding-bottom: clamp(2rem, 2rem + (100vw - 390px) * 0.04, 4rem);
}
.comments__list-item:not(:last-child) {
    border-bottom: 1px solid var(--color-gray-200);
}
.comments__list-item:not(:first-child) {
    margin-top: clamp(2rem, 2rem + (100vw - 390px) * 0.04, 4rem);
}

.comments__item-header {
    width: 100%;
    display: flex;

    .comments__item-profile {
        display: flex;
        align-items: center;
        flex: 1;

        .comments__item-profile-img-box {
            background-color: var(--color-gray-300);
            border-radius: 50%;

            width: clamp(2.4rem, 2.4rem + (100vw - 390px) * 0.1, 3.8rem);
            height: clamp(2.4rem, 2.4rem + (100vw - 390px) * 0.1, 3.8rem);
            margin-right: clamp(0.6rem, 0.6rem + (100vw - 390px) * 0.01, 1rem);

            img {
                width: 100%;
                height: 100%;

                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
    .comments__item-profile-nickname {
        font-weight: 700;
        font-size: clamp(1.4rem, 1.4rem + (100vw - 390px) * 0.03, 2.2rem);
        margin-right: clamp(0.6rem, 0.6rem + (100vw - 390px) * 0.01, 1rem);
        white-space: nowrap;
    }
    .comments__time {
        font-weight: 400;
        font-size: clamp(1.2rem, 1.2rem + (100vw - 390px) * 0.01, 1.8rem);
        color: var(--color-gray-400);
        margin-left: clamp(0.6rem, 0.6rem + (100vw - 390px) * 0.01, 1rem);
        flex-shrink: 0;
    }
    .comments__item-btn-group {
        display: flex;
        justify-content: flex-end;
        flex-shrink: 0;

        button {
            font-weight: 400;
            font-size: clamp(1.4rem, 1.4rem + (100vw - 390px) * 0.03, 2.2rem);
            color: var(--color-gray-400);
        }
        .comments__item-update-btn:after {
            content: '|';
            color: var(--color-gray-200);
            padding: 0 1rem;
        }
    }
}

.comments__item-content {
    margin-top: clamp(0.8rem, 0.8rem + (100vw - 390px) * 0.01, 1.4rem);
    font-size: clamp(1.4rem, 1.4rem + (100vw - 390px) * 0.03, 2.2rem);
    color: var(--color-black);
    word-wrap: break-word;
    overflow-wrap: break-word;
    resize: vertical;
    white-space: pre-wrap;
}

.comments__item-content--update {
    margin-top: clamp(0.8rem, 0.8rem + (100vw - 390px) * 0.01, 1.4rem);
    font-size: clamp(1.4rem, 1.4rem + (100vw - 390px) * 0.03, 2.2rem);

    width: clamp(34rem, 34rem + (100vw - 390px) * 0.6, 69.6rem);
    min-height: 6rem;
    border-radius: 10px;

    padding: clamp(1rem, 1rem + (100vw - 390px) * 0.05, 3rem) clamp(1.6rem, 1.6rem + (100vw - 390px) * 0.05, 3rem);

    border: 1px solid var(--gray-300, #c5c5c5);
    color: var(--color-black);
    outline: none;
}
