.nav {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 3.9rem;
}
.nav__list {
    display: flex;
    justify-content: space-around;
}
.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}
